<!DOCTYPE html>
{% load custom_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Help</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <br>
    <br>
    <div class="container-fluid">
        <div>
            <!-- form   -->

            <form action="" id='filterForm' method="GET">
                <div class="row">
                    <!-- states -->
                    <div class="col">
                        <div class="form-group">
                            <label for="">Select State</label>
                            <select name='state' id='stateSelect' class="form-control">
                                <option value=''>Select State</option>
                                {% for state in states %}
                                <option value="{{state.pk}}">{{state}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                    <!-- cities -->
                    <div class="col">
                        <div class="form-group">
                            <label for="">Select City</label>
                            <select name='city' class="form-control" id="citySelect">
                                <option value=''>Select City</option>
                                {% for city in cities %}
                                <option value="{{city.pk}}">{{city.name}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <hr>
        <table class="table text-center table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Hospital</th>
                    <th colspan="2" class="text-center">Oxygen Beds</th>
                    <th colspan="2" class="text-center">Oxygen Cylinder
                    </th>
                    <th colspan="2" class="text-center">Ventilator</th>

                </tr>
                <tr>
                    <th></th>
                    <th>Total</th>
                    <th>Available</th>
                    <th>Total</th>
                    <th>Available</th>
                    <th>Total</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{service.hospital}}</td>
                    <td>{{service.oxygen_beds_total}}</td>
                    <td class="{% get_table_class service.oxygen_beds_available %}">
                        {{service.oxygen_beds_available}}</td>
                    <td>{{service.oxygen_cylinder_total}}</td>
                    <td class="{% get_table_class service.oxygen_cylinder_available %}">
                        {{service.oxygen_cylinder_available}}</td>
                    <td>{{service.ventilator_total}}</td>
                    <td class="{% get_table_class service.ventilator_available %}">{{service.ventilator_available}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

<!-- Java Script -->
<script>
    window.onload = function () {
        var stateSelect = document.getElementById('stateSelect')
        var citySelect = document.getElementById('citySelect')
        var form = document.getElementById('filterForm')

        var formSubmit = function () {
            form.submit();
        }



        stateSelect.onchange = formSubmit
        citySelect.onchange = formSubmit
    }
</script>

</html>